html {
    padding: 0;
    margin: 0;
    max-resolution: res;
}

body {
    display: flex;
    z-index: 0;
    background-color: white;
    background-size: 100%;
    width: auto;
    margin: 0;
    flex-direction: column;
}

.mainMenu {
    padding: 8vw 1vw 8vw 1vw;
    gap: 1.5vw;
    background-image: url("res/modern-library-wallpaper-in-white-p9752-35021_image.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.bookContainer {
    /* margin: 1vw; */
    gap: 3vw;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 40%; */
    justify-items: center;
    justify-content: center;
}

.apple {
    alignment: center;
    align-self: center;
    position: relative;
    display: flex;
    height: 4vw;
    bottom: 5px;
}

.titleText {
    font-family: SFPro;
    color: white;
    font-size: 6rem;
    align-self: center;
    margin-bottom: 2%;
    margin-top: 0;
    text-shadow: 0 2px 4px white;
}

.logo {
    margin: 0;
    gap: 2vw;
    display: flex;
    /* margin-right: 40px; */
    /* margin-left: 20px; */
    font-family: SFPro;
    color: white;
    font-size: 3vw;
}

.menuText {
    text-shadow: 0 2px 8px black;
    font-family: SFPro;
    color: white;
    stroke: black;
    stroke-width: 4px;
    font-size: 80px;
    margin: 0;
    text-align: center;
}

@font-face {
    font-family: "SFPro";
    src: url("res/fonts/SFPRODISPLAYBOLD.OTF") format("truetype");

}

@font-face {
    font-family: "SFProLight";
    src: url("res/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

.navbar ul{
    gap: 2vw;
    list-style: none;
    margin-right: 2vw;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    visibility: visible;
}

.navbar ul li {
    transition: font-size 0.3s ease-in-out;
    text-decoration: none;
    /* padding: 10px; */
    /* margin-right: 40px; */
}

.navbar li a, .navbar li button, .navbar li h1 {
    align-self: center;
    text-decoration: none;
    font-size: 2vw;
    font-family: SFPro;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0);
}

.navbar li:hover a, .navbar li:hover button{
    text-shadow: 0 0px 12px white;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.balance {
    display: block;
    font-family: SFPro;
    color: white;
    /* font-size: 3vw; */
    /* position: absolute; */
    top: 50%;
    right: 50%;
    /* transform: translate(-50%, -50%); */
}


.topbar {
    height: fit-content;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.95);
    backdrop-filter: blur(5px);
    padding: 0 10px;
    z-index: 9999;
    box-shadow: 0 2px 4px black;
    justify-content: space-between;
}

.ownedBooksPanel {
    overflow: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 5%;
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.85);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-out;
    z-index: 999;
    justify-content: center;
}

.ownedBooksPanelContainer {
    
padding: 1vw;
    
gap: 1vw;
    
grid-template-columns: repeat(3, 1fr);
    
position: relative;
    
display: grid;
    
flex-wrap: wrap;
    
flex-direction: row;
    
height: 40%;
    
box-shadow: inset 0px 0px 20px 20px black;
    
display: grid;
    
place-items: center;
    
width: 93vw;
    
overflow: auto;
    
height: 72vh;
    
flex-direction: row;
    
flex-wrap: wrap;
    
outline: 2px solid white;
    
justify-items: center;
    
justify-content: center;
    
align-items: center;
}

.ownedBooksContainer {
    
top: 0;
    
z-index: 988;
    
position: fixed;
    
/* display: grid; */
    
height: 100%;
    
width: 100%;
    
flex-wrap: nowrap;
    
flex-direction: column;
    
align-content: center;
    
justify-content: center;
    
visibility: hidden;
}

.xbutton{
    font-family: SFPro;
    font-size: 300%;
    padding: 0;
    position: absolute;
    top: 110%;
    left: 41%;
    border-radius: 10px;
    height: 20%;
    width: 20%;
    color: black;
    background-color: white;
    border: 4px solid black;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.xbutton:hover {
    background-color: black;
    color: white;
    transform: scale(0.95);
}

.bookMenu {
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px black;
    border-radius: 20px;
    height: 400px;
    width: 450px;
    padding-top: 2%;
    background-color: white;
    display: flex;
    position: fixed;
}

.bookPanel {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: black;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5%;
    /* padding-left: 4%; */
}

.menuBackground {
    top: 0;
    flex-direction: column;
    display: flex;
    /* padding-top: 5%; */
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.85);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-out;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.active{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.bookinput {
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    width: 300px;
    height: 10%;
    margin-bottom: 20px;
    font-family: SFPro;
    font-size: 30px;
    transition: transform 0.3s ease-in-out;

}


.bookinput:hover {
    transform: scale(0.95);
}

.bookinput:focus {
    transform: scale(0.95);
}



.addBookButton {
    /* margin-top: 2.5%; */
    border: 4px solid black;
    background-color: white;
    color: black;
    border-radius: 100px;
    width: 400px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    font-family: SFPro;
    outline: none;
    box-shadow: 0 2px 4px black;
    transition: background-color 0.2s ease-in-out;
}

.addBookButton:hover {
    color: white;
    background-color: black;
}

.buyButton:hover {
    color: white;
    background-color: black;
}

.book {
    /* text-align: center; */
    display: inline-grid;
    grid-template-rows: 12vw 1fr 0.5fr 1fr;
    flex-direction: column;
    background-color: white;
    border: 4px solid white;
    /* width: 30vw; */
    /* height: 30vw; */
    border-radius: 5vw;
    box-shadow: 0 0 25px white;
    color: black;
    font-family: SFPro;
    font-size: 20px;
    /* margin: 2% 6.8%; */
    padding: 1vw;
    box-sizing: border-box;
}

.nameText {
    text-shadow: 0 0 20px white;
    /* -webkit-text-stroke: 1px white; */
    margin: 0;
    font-size: 3.5vw;
}

.authorText {
    margin: 0;
    font-size: 2.5vw;
}

.costText {
    font-size: 2.5vw;
    margin: 0;
}

.buyButton {
    overflow-wrap: break-word;
    /* margin-top: 2.5%; */
    border: 4px solid black;
    background-color: white;
    color: black;
    border-radius: 100px;
    text-align: center;
    font-family: SFPro;
    outline: none;
    box-shadow: 0 2px 4px black;
    transition: background-color 0.2s ease-in-out;
    width: 80%;
    height: 6vw;
    font-size: 2.5vw;
}

.searchMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 4%; */
}

.searchBar {
    border: 4px solid black;
    border-radius: 100px;
    position: relative;
    padding-left: 2.5%;
    width: 500px;
    height: 80px;
    /* margin-bottom: 20px; */
    font-family: SFPro;
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px black;
}

.searchBar:hover {
    transform: scale(0.95);
}

@media screen and (min-width: 900px) {
    .navbar ul {
        visibility: visible;
    }
}

@media screen and (max-width: 900px) {

    body {
        padding-top: 9vw;
    }

    .balance {
        display: none;
    }

    .bookContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .book {
        grid-template-rows: 18vw 10vw 5vw;
        height: 45vw;
        width: 45vw;
    }

    .nameText {
        font-size: 5vw;
    }

    .authorText {
        font-size: 4vw;
    }

    .costText {
        font-size: 4vw;
    }

    .buyButton {
    font-size: 3vw;
    height: auto;
    }

    .topbar {
        height: 15vw;
    }

    .navbar {

    }

    .navbar ul {
        overscroll-behavior-y: auto;
        margin: 0;
        /* padding: 0px; */
        gap: 5vw;
        background-color: rgba(0,0,0,0.95);
        backdrop-filter: blur(16px);
        width: 100%;
        display: flex;
        top: 15vw;
        left: 0;
        box-shadow: 0 2px 4px black;
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        float: none;
    }

    .navbar ul li a, .navbar ul li h1, .navbar ul li button {
        font-size: 5vw;
    }

    .logo {
        width: 60vw;
font-size: 6vw;
    }

    .apple {
        
height: 7vw;
    }

    .ownedBooksPanelContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon {
        visibility: visible;
        float: right;
    }
}

#submitButton {
    font-family: SFPro;
    border-radius: 10px;
    color: black;
    border: 4px solid black;
    background-color: white;
    box-shadow: 0 2px 4px white;
    height: 20%;
    width: 300px;
    font-size: 40px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#submitButton:hover {
    transform: scale(0.95);
    background-color: black;
    color: white;
}

#out {
    color: white;
    font-family: SFProLight;
    position: relative;
    font-size: 30px;
    margin: 5px;
    bottom: 15px;
}